<div class="site-footer mt-5 pb-5">
    <div class="container">
        <div class="row justify-content-center copyright">
            <div class="col-lg-7 text-center">
                <div class="widget">
                    <ul class="social list-unstyled d-flex justify-content-center">
                        <li><a href=""><span class="bi bi-facebook ms-4"></span></a></li>
                        <li><a href=""><span class="bi bi-twitter ms-4"></span></a></li>
                        <li><a href=""><span class="bi bi-instagram ms-4"></span></a></li>
                        <li><a href=""><span class="bi bi-linkedin ms-4"></span></a></li>
                    </ul>
                </div>
                <div class="widget">
                    <p class="copy-right-text">Copyright ©2023 Fikir Bulvari All rights reserved.</p>
                </div>
            </div>
        </div>
    </div>
</div>