{% extends "index.html" %}
{% load static %}
{% load humanize %}


{% block content %}


    <div class="container mt-4">
        <div class="author-posts-content d-flex">
            <div class="row mb-5 me-5">
                <div class="col-9">
                    {% for post in author_posts %}
                    <div class="card mb-3" style="width: 750px; height: 11rem;">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="{{post.image.url}}" style="height: 11rem;"class="img-fluid rounded-start object-fit-fill"
                                    alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <div class="card-post-meta mb-1">
                                        <a class="category fw-bold" href="/posts-filter/{{posts.category}}/">{{post.category}}</a>
                                        <span class="date">— {{post.date}}</span>
                                    </div>
                                    <h5 class="card-title author-posts-title mb-2"><a href="/single-post/{{post.id}}/{{post.slug}}/">{{post.title}}</a></h5>
                                    <p class="card-text author-posts-text">{{post.content |safe | slice:"150"}}...</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-3 mt-5 ms-5">
                <div class="card mb-5" style="border-radius: 15px;">
                    <div class="card-body text-center">
                        <div class="mt-3 mb-4">
                            <img src="{{author_info.ppic.url}}"
                                class="rounded-circle img-fluid" style="width: 100px;" />
                        </div>
                        <h4 class="mb-2 text-capitalize">{{author_info.user}}</h4>
                        <p class="text-muted mb-4 text-capitalize">{{author_info.job}}</p>
                        <div class="mb-4 pb-2">
                            <a href="{{author_info.twitter}}"><button type="button" class="btn btn-outline-secondary btn-floating">
                                <i class="bi bi-twitter"></i>
                            </button></a>
                            <a href="{{author_info.facebook}}"><button type="button" class="btn btn-outline-secondary btn-floating">
                                <i class="bi bi-facebook"></i>
                            </button></a>
                            <a href="{{author_info.instagram}}"><button type="button" class="btn btn-outline-secondary btn-floating">
                                <i class="bi bi-instagram fa-lg"></i>
                            </button></a>
                            <a href="{{author_info.linkedin}}"><button type="button" class="btn btn-outline-secondary btn-floating">
                                <i class="bi bi-linkedin fa-lg"></i>
                            </button></a>
                        </div>
                        <button type="button" class="btn btn-secondary btn-rounded btn-lg">
                            Message now
                        </button>
                        </div>
                    </div>
                    <h5 class="text-center">KATEGORİLER</h5>
            <div class="row">
                <div class="col">
                    <div class="list-group mb-5">
                        {% for kategori in kategoriler %}
                        <a href="/posts-filter/{{kategori.category}}/" class="list-group-item list-group-item-action">{{kategori.category}}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <!-- <form class="d-flex " role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-secondary" type="submit">Search</button>
                    </form> -->
                    {% include "includes/_search.html" %}
                </div>
            </div>
                </div>
            </div>
            <!-- <div class="col-3 right-side-author">
                <div class="author-pic text-center mb-3 pt-5 justify-content-center align-items-center">
                    <img src="https://via.placeholder.com/100x100" class="rounded-circle ms-3" alt="...">
                </div>
                <div class="author-name ms-3 text-center">
                    <strong class="author-name-text">Emre Ziya Efe</strong>
                    <br>
                    <span>Full Stack Developer</span>
                    <br>
                    <small>127 Followers</small>
                    <p class="author-about-text mt-3 mb-5 ">Lorem ipsum dolor sit amet consectetur, adipisicing
                        elit. Provident
                        repellendus similique aliquam harum delectus vitae!</p>
                </div>
                <div class="author-about-button text-center">
                    <button type="button" class="btn btn-secondary">Takip Et</button>
                    <button type="button" class="btn btn-secondary"><i class="bi bi-envelope-plus"></i></button>
                </div>
            </div> -->
        </div>


{% endblock content %}
