{% extends "index.html" %}

{% block content %}

<div class="container mt-5">
    <form method="POST" class="w-50 m-auto border p-4">
        {% csrf_token %}
        <label for="">Mevcut Şifre</label>
        <input type="password" name="eski" class="form-control">
        <label for="">Yeni Şifre</label>
        <input type="password" name="yeni" class="form-control">
        <label for="">Yeni Şifre(Tekrar)</label>
        <input type="password" name="yeni2" class="form-control">

        <input type="submit" value="Güncelle" class="btn btn-primary mt-2">
    </form>
</div>

{% endblock content %}