{% extends "index.html" %}

{% block content %}
<div class="container mt-5">
    <form method="POST" enctype="multipart/form-data" class="w-80 m-auto border p-4">
        {% csrf_token %}
        <label for="">Kategori : </label>
        <select class="form-control" name="kategori" id="">
            <!-- <option value="">----------</option> -->
            {% for kategori in kategoriler %}
            <option value="{{kategori.id}}">{{post.category}}</option>
            {% endfor %}
        </select>
        <label for="">Başlık : </label>
        <input type="text" name="baslik" id="" class="form-control" value="{{post.title}}">
        <label for="">Paragraf :</label>
        <textarea name="paragraf" id="editor" cols="30" rows="10" class="form-control">{{post.content}}</textarea>
        <label for="">Resim :  <a href="/postImages/blog04_Y8m5TxZ.jpg" target="_blank">{{post.image.url}} </a> </label>
        <img class="mt-3 mb-3" src="{{post.image.url}}" alt="" width="100px" height="100px">
        <input type="file" name="resim" id="" class="form-control">
        <input type="submit" value="Yayınla" class="btn btn-primary mt-2">
    </form>
</div>
<script src="/static/ckeditor/ckeditor.js"></script>

{% endblock content %}  