<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fikir Bulvarı</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
        integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,500;0,600;0,700;1,100&display=swap"
        rel="stylesheet">
    <style>
        @import url("/static/css/all.css");
    </style>
</head>

<body data-bs-theme="light">

    {% include "includes/_navbar.html" %}
    {% load humanize %}

    {% if messages %}

    {% for mesaj in messages %}
    <div class="alert alert-{{mesaj.tags}} text-center" id="message-bar">
        {{mesaj}}
    </div>
    {% endfor %}

    {% else %}
    {% endif %}

    {% block content %}


    <div class="container-fluid mt-4">
        <h1 class="mb-5 text-center">Posts</h1>


        <div class="row">
            <div class="col-9">
                <div class="row">
                    {% for posts in posts %}
                    <div class="col-4 mb-3">
                        <div class="card card-post" style="width: 20rem; height: 32rem;">
                            <a href="/single-post/{{posts.id}}/{{posts.slug}}/"><img src="{{posts.image.url}}"
                                    class="card-img-top bg-light" alt="{{posts.title}}"
                                    style="width: 20rem; height: 12rem;"></a>
                            <div class="card-body">
                                <div class="card-post-meta mt-3  mb-2">
                                    <a class="category fw-bold" href="">{{posts.category}}</a>
                                    <span class="date">— {{posts.date}}</span>
                                </div>
                                <h6 class="card-post-title fw-bold mb-3"><a
                                        href="/single-post/{{posts.id}}/{{posts.slug}}/">{{posts.title}}</a></h6>
                                <p class="card-text">{{posts.content | slice:"150" | safe}}...</p>
                                <div class="card-author-section">
                                    <a class="d-flex" href="/author-posts/{{posts.author.id}}/">
                                        <div class="author-pic">
                                            <img src="{{posts.author.ppic.url}}" width="50px" height="50px"
                                                class="rounded-circle ms-3" alt="{{posts.author}}">
                                        </div>
                                        <div class="author-name ms-3">
                                            <strong class="text-capitalize">{{posts.author}}</strong>
                                            <br>
                                            <span class="text-capitalize">{{posts.author.job}}</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-3">
                <h5 class="text-center">KATEGORİLER</h5>
                <div class="row">
                    <div class="col">
                        <div class="list-group mb-5">
                            {% for kategori in kategoriler %}
                            <a href="#" class="list-group-item list-group-item-action">{{kategori.category}}</a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <form class="d-flex " role="search">
                            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-secondary" type="submit">Search</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- <div class="row mb-5">

            {% for posts in posts %}

            <div class="col-12 col-md-6 col-lg-4 mb-5">
                <div class="card card-post border-0">
                    <a href="/single-post/{{posts.id}}/{{posts.slug}}/"><img src="{{posts.image.url}}" style="width: 340px; height: 168px;"
                            class="card-img-top bg-light" alt="{{posts.title}}"></a>
                    <div class="card-post-meta mt-3  mb-2">
                        <a class="category fw-bold" href="">{{posts.category}}</a>
                        <span class="date">— {{posts.date}}</span>
                    </div>
                    <div class="card-text-content">
                        <h6 class="card-post-title fw-bold mb-3"><a
                                href="/single-post/{{posts.id}}/{{posts.slug}}/">{{posts.title}}</a></h6>
                        <p class="card-post-text">{{posts.content | safe | slice:"150"}}...</p>
                    </div>
                    <div class="card-author-section">
                        <a class="d-flex" href="authorPosts.html">
                            <div class="author-pic">
                                <img src="{{posts.author.ppic.url}}" width="50px" height="50px"
                                    class="rounded-circle ms-3" alt="{{posts.author}}">
                            </div>
                            <div class="author-name ms-3">
                                <strong class="text-capitalize">{{posts.author}}</strong>
                                <br>
                                <span class="text-capitalize">{{posts.author.job}}</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            {% endfor %}

        </div> -->
    </div>

    {% endblock content %}

    {% include "includes/_footer.html" %}



    <script src="https://code.jquery.com/jquery-3.6.4.min.js"
        integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
    <script src="/static/js/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="/static/js/custom/extra.js"></script>


</body>

</html>